main {
    display: grid;
    /*grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr;*/
    grid-template-areas: 
    "g g b p p"
    "y r c p p"
    "y r c p p"
}

.red {
    background-color: red;
    grid-area: r;
}

.blue {
    background-color: blue;
    grid-area: b;
}

.green {
    background-color: green;
    grid-area: g;
}

.yellow {
    background-color: yellow;
    grid-area: y;
}

.cyan {
    background-color: cyan;
    grid-area: c;
}

.purple {
    background-color: purple;
    grid-area: p;
}